@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serrif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 101vh;
    background: #333;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
.card{
    position: relative;
    width: 200px;
    height: 200px;
    background: var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.25);
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;
}
